*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'bold';
    src:url(./fonts/OpenSans-Bold.ttf)
}
@font-face {
    font-family: 'mediumfont';
    src: url(./fonts/OpenSans-Medium.ttf);
}
@font-face {
    font-family: 'regularfont';
    src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'lightfont';
    src: url(./fonts/OpenSans-Light.ttf);
}
body{
    margin:0;
    padding:0;
    height:100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.head{
    width:50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart{
    height:100vh;
    background: rgb(104,65,218);  
    display: flex;  
    justify-content: center;
    align-items: center;
}
.element{
    margin-left: 30px;
}
.sub-head{
   display: inline-flex;
}
.sub-head p{
    font-family: 'bold';
    font-size: 16px;
    margin-left: 2px;
}
.main-form{
    margin-top: 10px;
    padding-inline: 130px;
}
.main-form h2{
    font-family: 'regularfont';
    font-size: 26px;
    font-weight: 800;
}
.main-form p{
    font-size: 12px;
    font-family: 'lightfont';
    font-weight: 700;
    margin-top: 10px;
}
.sm{
    padding-top:20px;
    padding-bottom: 15px;
    padding-inline: 130px;

}
.sm_btn{
    background: white;
    color:black;
    width:320px;
    border: 1px solid lightgray;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 800;
    font-family: 'lightfont';
    
}
#text{
    margin-left: 10px;
    font-size: 12px;
    font-weight: 800;
}
.hr-lines:before{
    content:" ";
    display: block;
    height: 1px;
    width: 110px;
    position: absolute;
    top:45%;
    left: -10px;
    background:lightgray;
  }
  .hr-lines{
    position: relative;
    max-width: 300px;
    margin: 4px auto;
    text-align: center;
    font-size: 10px;
    color: lightgray;
  }
  .hr-lines:after{
    content:" ";
    height: 1px;
    width: 110px;
    background:lightgray;
    display: block;
    position: absolute;
    top: 45%;
    right: -10px;
  }
  .s_form input[type=text]{
    border-radius: 8px;
    width: 100%;
    height: 36px;
    font-size: 12px;
    font-family: 'lightfont';
    font-weight: 600;
    padding-block:14px;
    padding-inline: 12px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
  }
  .s_form input[type=password]{
    border-radius: 8px;
    width: 100%;
    height: 36px;
    font-size: 12px;
    font-family: 'lightfont';
    padding-block:14px;
    padding-inline: 12px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
  }
  .details{
    padding-inline:130px;
  }
  #name1,#name2{
    font-size: 10px;
    font-weight: 700;
    font-family: 'lightfont';
    line-height: 20px;
  }
  #agree,#terms{
    font-size: 10px;
     font-weight: 900;
    font-family: 'lightfont';
    position: relative;
    bottom: 3px;
  }
  #agree{
    padding-left: 4px;
  }
  .box input[type='checkbox']{
    transform: scale(1.0);
    opacity: 0.5;
  }
  .main{
    display: flex;
    justify-content: space-between;
  }
  #terms a{
    text-decoration: none;
    color: rgb(104,65,218);
  }
  .btn{
    background:rgb(104,65,218);
    color: white;
    border: none;
    width:100%;
    height: 35px;
    padding-block: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 14px;
    border-radius: 4px;
}
.register{
    padding-block: 16px;
}
#reg{
    font-size: 10px;
    font-family: 'lightfont';
}
.register a{
    text-decoration: none;
    color: rgb(104,65,218);
    font-size: 10px;
    font-family: 'lightfont';
    font-weight: 600;
}
.rights p{
     font-size: 10px;
     font-family: 'regularfont';
     font-weight: 500;
     margin-top: 100px;
} 
.main-chart{
    width: 50%;
}
.sub-chart{
   padding-inline: 80px;
   padding-block: 100px;
}
.chart h1{
    color:white;
    font-family: 'bold';
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
}
.text p{
    color:rgb(236,236,243);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-bottom: 35px;
}   
.chart h2{
    color:white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'regularfont';
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
#dev{
    color:white;
    font-size: 10px;
    font-family: 'lightfont';
    font-weight: 900;
    text-align: center;
}
.chart img{
    width:130px;
    height:130px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:240px) and (max-width:640px){
    body{
        padding-inline: 200px;
    }
    .chart{
        display:none;
    }
    .head{
        width:100%;
        height: 900px;
    }
    .element{
        margin-left: 150px;
    }
    .main-form,.sm,.details{
        padding-left: 200px;
    }    
    .sub-head p{
        font-size: 20px;
    }
    .main-form h2{
        font-size: 36px;
    }
    .main-form p{
        font-size: 14px;
        margin-top: 20px;
    }   
    .s_form input[type=text]{
        height: 28px;
        font-size: 20px;
        padding-block: 16px;
        padding-inline: 14px;
    } 
    .s_form input[type=password]{
        height:28px;
        font-size: 16px;
        padding-block: 18px;
        padding-inline: 16px;
    } 
    .box{
        margin-block: 10px;
    }  
    #terms,#agree{
        font-size: 16px;
    }
    #name1,#name2{
        font-size: 18px;
    }
    .hr-lines{
        font-size: 12px;
        margin-block: 10px;
        margin-left: 200px;
    }
    .btn{
        margin-top: 20px;
        height:45px;
        font-size: 24px;
    }
    .rights p{
        font-size: 16px;
        font-family: 'regularfont';
        margin-top: 100px;
    }
}
@media (max-width:840px){
    body{
        background: white;
    }
    .chart{
        display:none;
    }
    .head{
        width:100%;
    }
    #name1,#name2{
        font-size: 24px;
        line-height: 64px;
    }
    .s_form input[type=text]{
        height: 28px;
        font-size: 20px;
        padding-block: 18px;
        padding-inline: 16px;
    } 
    .s_form input[type=password]{
        height:28px;
        font-size: 16px;
        padding-block: 18px;
        padding-inline: 16px;
    }
    .box{
        margin-block: 10px;
    }  
    #terms,#agree{
        font-size: 16px;
    }
    .btn{
        margin-top: 20px;
        height:45px;
        font-size: 24px;
    }
    #reg{
        font-size: 18px;
    }
    .sm_btn{
        font-size: 18px;
    }
    .hr-lines{
        font-size: 14px;
    }
    .rights p{
        font-size: 16px;
    }

}
@media (min-width:841px) and (max-width:1200px){
    .text p{
        font-size: 12px;
    }
    #name1,#name2{
        font-size: 14px;
    }
}



