*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'mediumfont';
    src: url(./fonts/Mona-Sans-Medium.ttf);
}
@font-face {
    font-family: 'regularfont';
    src: url(./fonts/Mona-Sans-Regular.ttf);
}
@font-face {
    font-family: 'lightfont';
    src: url(./fonts/Mona-Sans-Light.ttf);
}
body{
    margin:0;
    padding:0;
    height:100vh;
    display: flex;
    flex-direction: row;
}
.head{
    width:50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart{
    height:100vh;
    background: rgb(104,65,218);  
    display: flex;  
    justify-content: center;
    align-items: center;
}
.main-element{
    margin-left:40px;  
}
.sub-head{
   display: inline-flex;
}
.sub-head p{
    font-family: 'lightfont';
    font-weight: 600;
    font-size: 16px;
    margin-left: 2px;
}
.main-form{
    margin-top: 20px;
    padding-inline: 130px;
}
.main-form h2{
    font-family: 'regularfont';
    font-size: 28px;
    font-weight: 700;
}
.main-form p{
    font-size: 14px;
    font-family: 'lightfont';
    font-weight: 400;
    margin-top: 10px;
}
.sm{
    padding-top:20px;
    padding-bottom: 15px;
    padding-inline: 130px;

}
.sm_btn{
    background: white;
    color:black;
    width:285px;
    border: 1px solid black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'lightfont';
    
}
#text{
    margin-left: 10px;
}
.hr-lines:before{
    content:" ";
    display: block;
    height: 1px;
    width: 100px;
    position: absolute;
    top:45%;
    left: 0;
    background: black;
    opacity: 0.3;
  }
  .hr-lines{
    position: relative;
    max-width: 300px;
    margin: 4px auto;
    text-align: center;
    font-size: 10px;
  }
  .hr-lines:after{
    content:" ";
    height: 1px;
    width: 100px;
    background: black;
    display: block;
    position: absolute;
    top: 45%;
    right: 0;
    opacity: 0.3;
  }
  .s_form input[type=text]{
    border-radius: 2px;
    width: 100%;
    height: 20px;
    font-size: 10px;
    font-family: 'lightfont';
    font-weight: 600;
    padding-block:14px;
    padding-inline: 12px;
    border: 1px solid black;
    margin-bottom: 16px;
  }
  .s_form input[type=password]{
    border-radius: 2px;
    width: 100%;
    height: 20px;
    font-size: 10px;
    font-family: 'lightfont';
    padding-block:14px;
    padding-inline: 12px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .details{
    padding-inline:130px;
  }
  #name1,#name2{
    font-size: 12px;
    font-weight: 700;
    font-family: 'lightfont';
    line-height: 30px;
  }
  #agree{
    margin-left: 4px;
  }
  .box{
    margin-block: 4px;
  }
  #agree,#terms{
    font-size: 12px;
    font-weight: 400;
    font-family: 'lightfont';
  }
  .main{
    display: flex;
    justify-content: space-between;
  }
  #terms a{
    text-decoration: none;
    color: rgb(104,65,218);
  }
  .btn{
    background:rgb(104,65,218);
    color: white;
    border: none;
    width:100%;
    height: 35px;
    padding-block: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 14px;
    border-radius: 4px;
}
.register{
    padding-block: 16px;
}
#reg{
    font-size: 12px;
    font-family: 'lightfont';
    font-weight: 600;
}
.register a{
    text-decoration: none;
    color: rgb(104,65,218);
    font-size: 12px;
    font-family: 'lightfont';
    font-weight: 600;
}
.rights p{
     font-size: 10px;
     margin-top: 60px;
} 
.main-chart{
    width: 50%;
}
.sub-chart{
   padding-inline: 80px;
   padding-block: 100px;
}
.chart h1{
    color:white;
    font-family: 'mediumfont';
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}
.text p{
    color:rgb(236,236,243);
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding-bottom: 35px;
}   
.chart h2{
    color:white;
    font-size: 18px;
    font-weight: 600;
    font-family: 'regularfont';
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
#dev{
    color:white;
    font-size: 12px;
    font-family: 'lightfont';
    text-align: center;
}
.chart img{
    width:130px;
    height:130px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:640px){
    .chart{
        display:none;
    }
    .head{
        width:100%;
    }
    .main-element{
        margin-left:110px;  
    }
    .login-subform{
      margin-inline: -100px;
    }
    #name1,#name2{
        font-size: 14px;
    }
    .sm_btn{
        font-size: 14px;
    }
    .hr-lines{
        font-size: 12px;
    }

}
@media (max-width:840px){
    body{
        background-color: white;
    }
    .chart{
        display:none;
    }
    .head{
        width:100%;
    }
    .main-element{
        margin-left:120px;  
    }
    .login-subform{
      margin-inline: -40px;
    }
    #name1,#name2{
        font-size: 14px;
    }
    .sm_btn{
        font-size: 14px;
    }
    .hr-lines{
        font-size: 12px;
    }
    .rights{
        font-size: 12px;
    }

}
@media (min-width:841px) and (max-width:1200px){
    .text p{
        font-size: 12px;
    }
    #name1,#name2{
        font-size: 14px;
    }
}



